body { 
    font-family: 'Inter', sans-serif; 
}

.prose {
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-bullets: #374151;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(-0.5deg); }
    50% { transform: rotate(0.5deg); }
}

.wiggle-on-drag:active {
    animation: wiggle 0.2s linear infinite;
    cursor: grabbing !important;
}
